.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

ol {
  display: flex;
  flex-direction: column;
}

.list-container {
  display: flex;
  justify-content: center;
}

li {
  width: 200px;
}

.x {
  margin-right: 30px;
}

.add-form {
  display: flex;
  justify-content: center;
}
